 export :default
:root{
    --cardinner: #1a4356;
    --default-btn-color: rgba(100,100,222);
    --active-tab: rgb(42, 4, 55);
    --x: 0;
    --y: 0;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
 
  .search-box {
    padding: 5px;
    background-color: #eee;
  }
  
  .search-box input {
    width: 100%;
    box-sizing: border-box;
    /* padding: 5px; */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  body{
    
   font-family: 'Montserrat';
  }
  
  .rupee{
    margin-left: 10px;
    padding: 0px;
  }
  
  .save{
    margin: 5px;
    color: var(--cardbg);
    background-color: var(--cardinner);
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-weight: bolder;
    font-family: monospace;
  }
  
  .save:hover{
    color: var(--cardinner);
    background-color: var(--cardbg);
    border: var(--cardinner) solid 1px ;
  }
  
  .transaction-box{
    text-align: center;
    background-color: var(--cardbg);
  }
  
  input{
    margin-bottom: 20px;
    border: none;
    border-radius: 40px;
    padding: 5px 5px;
    background-color: rgb(152, 251, 152,0.5);
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    align-items: center;
  }
  
  .flex-box-space{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  p{
    padding: 0px 5px;
    margin: 5px 5px;
  }
  
  .buttons-rish {
    margin: 2%;
    text-align: center;
  }
  
  .btn-hover-rish {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover-rish:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover-rish:focus {
    outline: none;
  }
  
  .btn-hover-rish.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }
  
  .btn-hover-rish.color-8 {
    background-image: linear-gradient(to right, #61e153, #2d7391, #A3A1FF, #d5f245);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }
  
  
  .active{
    box-shadow: none;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 10px;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 40px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  
  }
  
  .inactive:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .active.color-8{
    background-image: linear-gradient(to right, #61e153, #2d7391, #A3A1FF, #d5f245);
    box-shadow: 0 4px 15px 0 rgba(97, 94, 99, 0.75);
  }
  
  .inactive{
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 10px;
    color: #fff;
    background-color: var(--active-tab);
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    
  
  }
  
  .card-body-rish-in{
    border-radius: 10px;
    background: linear-gradient(-45deg, #FCF4DF, #EFB7EA,  #23d5ab,  #D66FEE);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
  }
  .card-body-rish-out{
    border-radius: 10px;
    background: linear-gradient(-45deg, #83f5e5, #a4c6b8, #e761bd, #5e435d);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  .nav-link-rish{
    color:#fff;
  }
  
  .card-rish{
    width:max-content;
    border-radius: 10px;
    margin-bottom: 50px;
    margin: 50px;
    padding: 5px;
  }
  
  .flex-box{
    display: flex;
    justify-content: center;
    align-items: center ;
  }
  
  .dropdown-toggle{
    border: none;
    border-radius: 40px;
    background:  linear-gradient(to right, var(--default-btn-color),rgb(200, 227, 124,0));
  }
  
  .card-rish{
    border-radius: 10px;
    background-color: var(--active-tab);
  }
  
  
  
  .landing-page{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      place-content: center;
      color: white;
      padding: 3em;
      line-height: max-content;
      background: radial-gradient(circle at var(--x) var(--y) , #AA076B, #683367);
      box-shadow:  0 0 0 #61045F inset,0 4px 8px rgba(50,0,0,0.2), 0 2px 4px rgba(128,0,0,0.3);
  
      > *{
          z-index: 1;
          pointer-events: none;
      }
  }